@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/pixelify-sans";

:root {
	scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: hsl(224 71.4% 4.1%);
		--foreground: hsl(210 20% 98%);
		--card: hsl(224 71.4% 5.5%);
		--card-foreground: hsl(210 20% 98%);
		--popover: hsl(224 71.4% 4.1%);
		--popover-foreground: hsl(210 20% 98%);
		/* --primary: hsl(237, 100%, 60%); */
		--primary: hsl(29, 90%, 70%);
		--primary-foreground: hsl(222.2 47.4% 1.2%);
		--secondary: hsl(215 27.9% 16.9%);
		--secondary-foreground: hsl(210 20% 98%);
		--muted: hsl(215 27.9% 16.9%);
		--muted-foreground: hsl(217.9 10.6% 64.9%);
		--accent: hsl(215 27.9% 16.9%);
		--accent-foreground: hsl(210 20% 98%);
		--destructive: hsl(0 62.8% 30.6%);
		--destructive-foreground: hsl(210 20% 98%);
		--border: hsl(215 27.9% 16.9%);
		--input: hsl(215 27.9% 16.9%);
		--ring: color-mix(in hsl, var(--primary) 70%, transparent);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background: hsl(210 20% 98%);
		--foreground: hsl(224 71.4% 4.1%);
		--card: hsl(210 20% 98%);
		--card-foreground: hsl(224 71.4% 4.1%);
		--popover: hsl(210 20% 98%);
		--popover-foreground: hsl(224 71.4% 4.1%);
		/* --primary: hsl(237, 100%, 60%); */
		--primary: hsl(29, 90%, 70%);
		--primary-foreground: hsl(222.2 47.4% 1.2%);
		--secondary: hsl(215 27.9% 16.9%);
		--secondary-foreground: hsl(210 20% 98%);
		--muted: hsl(215 27.9% 16.9%);
		--muted-foreground: hsl(217.9 10.6% 64.9%);
		--accent: hsl(215 27.9% 16.9%);
		--accent-foreground: hsl(210 20% 98%);
		--destructive: hsl(0 62.8% 30.6%);
		--destructive-foreground: hsl(210 20% 98%);
		--border: hsl(215 27.9% 16.9%);
		--input: hsl(215 27.9% 16.9%);
		--ring: color-mix(in hsl, var(--primary) 70%, transparent);
	}
}

.dark,
[data-theme="dark"] {
	--background: hsl(224 71.4% 4.1%);
	--foreground: hsl(210 20% 98%);
	--card: hsl(224 71.4% 5.5%);
	--card-foreground: hsl(210 20% 98%);
	--popover: hsl(224 71.4% 4.1%);
	--popover-foreground: hsl(210 20% 98%);
	--primary: hsl(29, 90%, 70%);
	--primary-foreground: hsl(222.2 47.4% 1.2%);
	--secondary: hsl(215 27.9% 16.9%);
	--secondary-foreground: hsl(210 20% 98%);
	--muted: hsl(215 27.9% 16.9%);
	--muted-foreground: hsl(217.9 10.6% 64.9%);
	--accent: hsl(215 27.9% 16.9%);
	--accent-foreground: hsl(210 20% 98%);
	--destructive: hsl(0 62.8% 30.6%);
	--destructive-foreground: hsl(210 20% 98%);
	--border: hsl(215 27.9% 16.9%);
	--input: hsl(215 27.9% 16.9%);
	--ring: color-mix(in hsl, var(--primary) 70%, transparent);
}
.light,
[data-theme="light"] {
	--background: hsl(210 20% 98%);
	--foreground: hsl(224 71.4% 4.1%);
	--card: hsl(210 20% 98%);
	--card-foreground: hsl(224 71.4% 4.1%);
	--popover: hsl(210 20% 98%);
	--popover-foreground: hsl(224 71.4% 4.1%);
	--primary: hsl(29, 90%, 70%);
	--primary-foreground: hsl(222.2 47.4% 1.2%);
	--secondary: hsl(215 27.9% 16.9%);
	--secondary-foreground: hsl(210 20% 98%);
	--muted: hsl(215 27.9% 16.9%);
	--muted-foreground: hsl(217.9 10.6% 64.9%);
	--accent: hsl(215 27.9% 16.9%);
	--accent-foreground: hsl(210 20% 98%);
	--destructive: hsl(0 62.8% 30.6%);
	--destructive-foreground: hsl(210 20% 98%);
	--border: hsl(215 27.9% 16.9%);
	--input: hsl(215 27.9% 16.9%);
	--ring: color-mix(in hsl, var(--primary) 70%, transparent);
}
.rosey,
[data-theme="rosey"] {
	--background: hsl(224 71.4% 4.1%);
	--foreground: hsl(210 20% 98%);
	--card: hsl(224 71.4% 5.5%);
	--card-foreground: hsl(210 20% 98%);
	--popover: hsl(224 71.4% 4.1%);
	--popover-foreground: hsl(210 20% 98%);
	--primary: /* rose color */ hsl(330, 100%, 60%);
	--primary-foreground: hsl(222.2 47.4% 1.2%);
	--secondary: hsl(215 27.9% 16.9%);
	--secondary-foreground: hsl(210 20% 98%);
	--muted: hsl(215 27.9% 16.9%);
	--muted-foreground: hsl(217.9 10.6% 64.9%);
	--accent: hsl(215 27.9% 16.9%);
	--accent-foreground: hsl(210 20% 98%);
	--destructive: hsl(0 62.8% 30.6%);
	--destructive-foreground: hsl(210 20% 98%);
	--border: hsl(215 27.9% 16.9%);
	--input: hsl(215 27.9% 16.9%);
	--ring: color-mix(in hsl, var(--primary) 70%, transparent);
}

@custom-variant dark (&:where(.dark, .dark *), &:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant light (&:where(.light, .light *), &:where([data-theme="light"], [data-theme="light"] *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--font-sans: "Pixelify Sans Variable", system-ui;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		scroll-behavior: smooth;
	}
	::selection {
		background-color: var(--primary);
		color: var(--primary-foreground);
	}
	button,
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		@apply cursor-pointer;
	}
}

@layer components {
	.section-title-underline {
		@apply mt-3 w-24 h-1.5 bg-primary mx-auto rounded-full shadow-[0_0_10px_var(--color-primary)];
	}
	.futuristic-card {
		@apply bg-card border-border/20 border-1 transition-all duration-300 hover:border-primary/70 hover:-translate-y-1;
		box-shadow: inset 0 -2px 0 1px color-mix(in hsl, var(--muted-foreground)
						20%, transparent),
			0 3px 10px
				color-mix(in hsl, var(--muted-foreground) 20%, transparent),
			0 5px 10px -10px color-mix(in hsl, var(--muted-foreground) 50%, transparent);

		&:hover {
			box-shadow: inset 0 -2px 0 1px color-mix(in hsl, var(--primary) 20%, transparent),
				0 3px 10px color-mix(in hsl, var(--primary) 20%, transparent),
				0 5px 10px -10px color-mix(in hsl, var(--primary) 50%, transparent);
		}
	}
	.futuristic-timeline-node {
		@apply absolute left-1/2 w-5 h-5 bg-primary rounded-full -translate-x-1/2 mt-1 border-[3px] border-background shadow-[0_0_10px_3px_color-mix(in_hsl,_var(--color-primary)_50%,_transparent)];
	}
	.futuristic-timeline-line {
		@apply absolute left-1/2 w-1 h-full bg-gradient-to-b from-primary/50 via-primary/20 to-transparent -translate-x-1/2;
	}
}
