---
import HeroSection from "@/components/hero-section.astro";
import AboutSection from "@/components/about-section.astro";
import SkillsSection from "@/components/skills-section.astro";
import ProjectsSection from "@/components/projects-section.astro";
import ExperienceSection from "@/components/experience-section.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="zoasr's Portfolio">
	<div class="flex flex-col min-h-screen bg-background">
		<main class="flex-1">
			<HeroSection />
			<AboutSection />
			<SkillsSection />
			<ProjectsSection />
			<ExperienceSection />
		</main>
	</div>
</Layout>
