<section id="about" class="w-full py-16 md:py-24 bg-card">
	<div class="container mx-auto px-4">
		<div class="max-w-3xl mx-auto text-center">
			<h2
				class="text-3xl font-bold tracking-tighter text-foreground sm:text-4xl md:text-5xl"
			>
				Who I Am
			</h2>
			<div class="section-title-underline"></div>
			<p class="mt-8 text-lg text-muted-foreground md:text-xl">
				A Mechatronics Engineer turned Front-End Developer, I merge
				analytical problem-solving with a creative passion for building
				intuitive and impactful web solutions. I thrive on transforming
				complex challenges into elegant user experiences.
			</p>
			<button class="mt-6 text-primary text-lg hover:underline">
				<a href="/about">Discover More About Me</a>
			</button>
		</div>
	</div>
</section>
