---
import { Icon } from "astro-icon/components";
import SectionBackground from "./section-background.astro";
---

<section
	id="hero"
	class="w-full min-h-[calc(100vh-4rem)] flex items-center justify-center relative overflow-hidden border-b-2 border-border/60 isolate"
>
	<SectionBackground sectionId="hero" />
	<div class="container mx-auto text-center px-4 z-10">
		<div class="max-w-4xl mx-auto">
			<h1
				class="section-heading text-5xl font-light tracking-tighter text-foreground sm:text-6xl md:text-7xl lg:text-8xl animate-[pulsate_5s_ease-in-out_infinite]"
			>
				Hi, I'm <span class="text-primary">zoasr</span>
			</h1>
			<h2
				class="fade-from-left mt-4 text-2xl md:text-4xl font-semibold text-primary tracking-wide"
			>
				Front-End Web Developer
			</h2>
			<p
				class="fade-from-left mt-6 max-w-2xl mx-auto text-lg text-muted-foreground md:text-xl"
			>
				I design, build and animate web applications and websites
			</p>
			<div class="mt-10 flex flex-col justify-center items-center gap-4">
				<div
					class="flex gap-4 flex-col sm:flex-row items-center justify-center"
				>
					<a
						class="px-8 py-3 text-lg border-1 border-primary/50 hover:rounded-sm hover:border-primary/70 hover:bg-primary/10 focus:rounded-sm focus:border-primary/70 focus:bg-primary/10 focus:outline-none transition-colors group w-fit flex gap-2 items-center"
						href="#projects"
						>Explore Projects
						<span
							class="group-hover:scale-100 group-focus:scale-100 scale-0 w-0 group-hover:w-2 group-focus:w-2 transition-all duration-150"
						>
							<Icon name="pixelarticons:arrow-right" />
						</span></a
					>
					<a
						class="px-8 py-3 text-lg border-1 border-primary/50 hover:rounded-sm hover:border-primary/70 hover:bg-primary/10 focus:rounded-sm focus:border-primary/70 focus:bg-primary/10 focus:outline-none transition-colors group w-fit flex gap-2 items-center"
						href="mailto:zeyadber@gmail.com"
						>Get In Touch
						<span
							class="group-hover:scale-100 group-focus:scale-100 scale-0 w-0 group-hover:w-2 group-focus:w-2 transition-all duration-150"
						>
							<Icon name="pixelarticons:arrow-right" />
						</span>
					</a>
				</div>
				<div class="mt-16 flex justify-center gap-8">
					<a
						href="https://github.com/zoasr"
						target="_blank"
						rel="noopener noreferrer"
						class="text-muted-foreground hover:text-primary transition-colors transform hover:scale-110"
						aria-label="GitHub Profile"
					>
						<Icon name="pixelarticons:github" class="h-6 w-6" />
					</a>
					<a
						href="https://linkedin.com/in/zeayd-sherif"
						target="_blank"
						rel="noopener noreferrer"
						class="text-muted-foreground hover:text-primary transition-colors transform hover:scale-110"
						aria-label="LinkedIn Profile"
					>
						<Icon name="ri:linkedin-line" class="h-6 w-6" />
					</a>
					<a
						href="mailto:zeyadber@gmail.com"
						class="text-muted-foreground hover:text-primary transition-colors transform hover:scale-110"
						aria-label="Email Zeyad"
					>
						<Icon name="pixelarticons:mail" class="h-6 w-6" />
					</a>
				</div>
			</div>
		</div>
		<div class="absolute bottom-10 left-1/2 -translate-x-1/2 z-10">
			<a href="#about" aria-label="Scroll to about section">
				<Icon
					name="pixelarticons:arrow-down-box"
					class="text-primary/70 animate-bounce hover:text-primary size-9"
				/>
			</a>
		</div>
	</div>

	<style>
		@keyframes pulsate {
			0% {
				font-weight: 300;
			}
			50% {
				font-weight: 600;
			}
			100% {
				font-weight: 300;
			}
		}
	</style>
</section>

<script>
	import { gsap } from "gsap";
	import { SplitText } from "gsap/SplitText";
	gsap.registerPlugin(SplitText);

	document.addEventListener("DOMContentLoaded", () => {
		const sectionheading = document.querySelector(
			`section#hero .section-heading`
		);
		const tl = gsap.timeline();
		const headingSplitText = SplitText.create(sectionheading, {
			type: "chars",
		});
		const headingEls = headingSplitText.chars;
		const fadeFromLeftSplit = SplitText.create(".fade-from-left", {
			type: "words",
		});

		tl.from(headingEls, {
			y: -100,
			duration: 1,
			opacity: 0,
			stagger: 0.05,
			scale: 0.5,
			ease: "back.out",
		}).from(fadeFromLeftSplit.words, {
			x: -100,
			opacity: 0,
			stagger: 0.05,
			ease: "back",
			duration: 1,
		});
	});
</script>
